{% extends 'base.html' %} 
{% block title %} About us{% endblock title%}
{% block body %}

<h1>SUNSHINE YOGA<br>
<br></h1>

    <div class="container">
        <div class="content">
                <div class="box wow bounceInUp">
                        <div class="inner">
                            <div class="img">
                                    <img src="https://img.freepik.com/free-photo/3d-female-yoga-pose-against-sunset-landscape_1048-9243.jpg?w=1060&t=st=1664470470~exp=1664471070~hmac=f38d8c7f4fdb3e4f0576a7472a043290b744ed5334848543d0cd5dc00557ce70" alt="about" />
                            </div>
                <div class="text">
                        <h4><br>Practice with us, Anywhere, Any time.
                            Inside of Sunshine Yoga you’ll find a plethora of the perfect yoga classes, explore world-renowned instructors and discover a new passion for your practice.</h4>
                        <p> We're dedicated to making yoga accessible and safe for all of our students. We teach Hatha yoga with appropriate modifications depending on each individual's needs and goals. 
                            We offer a serene studio environment and provide all necessary yoga equipment for our students including yoga mats and props at no additional cost.  All of our teachers are registered 200 hour or 500 hour yoga teachers with The Yoga Alliance.
                            A typical yoga class at our boutique studio will offer yoga postures to increase flexibility, balance, and strength, as well as time for reflection and relaxation. </p>
                </div>
                        </div>
                </div>
                    <div class="box wow bounceInUp" data-wow-delay="0.2s">
                        <div class="inner">
                            <div class="img">
                                    <img src="https://img.freepik.com/free-photo/meditation_1048-1840.jpg?t=st=1664470470~exp=1664471070~hmac=1ed4054fb5a2dfbbd26deb70a0ccdfa83b7e9ed46fc05b564d8146ab7fa9e5eb" alt="about" />
                            </div>
                            <div class="text">
                                <h4><br>WHY OUR SUNSHINE YOGA?</h4>
                                <p> Unlimited access with our stress-free subscription
                                         Incredible Online Yoga Classes.
                                         Talented instructors and 1000+ classes in the style of hatha, yin, vinyasa, restorative and more!
                                         A multitude of incredible soundtracks to choose from as well, unless no music at all is your preference — it’s your choice.
                                         Immersive Workshops.
                                         New workshops and classes are added regularly, so you’ll always find something new. Whether you’re exploring Ayurveda, learning to do a handstand or need the perfect prenatal class for a person close to you — we have it all!</p>
                        </div>
                        </div>
                </div>
                <div class="box wow bounceInUp" data-wow-delay="0.4s">
                        <div class="inner">
                            <div class="img">
                                    <img src="https://as1.ftcdn.net/v2/jpg/00/90/91/04/1000_F_90910457_12Z9JmTeU5RkK3ClfXrfCi0sWtfFkR0b.jpg" alt="about" />
                            </div>
                            <div class="text">
                                <h4><br>REVIEWS</h4>
                                <p>
                                        “The teachers are excellent and I would recommend this platform to anyone who loves yoga.” -CARI <br>
                                        “This helps me not only with my yoga practice but also my continuing education as a yoga teacher.” -RITA<br>
                                        “I've really enjoyed it, I started one of the Ayurveda workshops and it's excellent.” -CHRISTINE<br>
                                        </p>

                                </div>
                        </div>
                </div>
        </div>
    </div>



{% endblock body %}
