{% extends 'base.html' %} 
{% block title %} About us{% endblock title%}
{% block body %}

<h1>Sun Shine Yoga</h1>

    <div class="container">
        <div class="content">
                <div class="box wow bounceInUp">
                        <div class="inner">
                            <div class="img">
                                    <img src="https://img.freepik.com/free-photo/3d-female-yoga-pose-against-sunset-landscape_1048-9243.jpg?w=1060&t=st=1664470470~exp=1664471070~hmac=f38d8c7f4fdb3e4f0576a7472a043290b744ed5334848543d0cd5dc00557ce70" alt="about" />
                            </div>
                <div class="text">
                        <h4>Practice with us. Anywhere. Any time.
                            Inside of Sunshine Yoga you’ll find a plethora of the perfect yoga classes, explore world-renowned instructors and discover a new passion for your practice.</h4>
                        <p>We're dedicated to making yoga accessible and safe for all of our students. We teach Hatha yoga with appropriate modifications depending on each individual's needs and goals. 
                            We offer a serene studio environment and provide all necessary yoga equipment for our students including yoga mats and props at no additional cost.  All of our teachers are registered 200 hour or 500 hour yoga teachers with The Yoga Alliance.
                            A typical yoga class at our boutique studio will offer yoga postures to increase flexibility, balance, and strength, as well as time for reflection and relaxation. </p>
                </div>
                        </div>
                </div>
                    <div class="box wow bounceInUp" data-wow-delay="0.2s">
                        <div class="inner">
                            <div class="img">
                                    <img src="static/images/b2.jpg" alt="about" />
                            </div>
                            <div class="text">
                                <h4>WHY THE YOGA AND WELLNESS EDUCATION CENTRE?</h4>
                                <p>We're dedicated to making yoga accessible and safe for all of our students. We teach Hatha yoga with appropriate modifications depending on each individual's needs and goals. 
                                    We offer a serene studio environment and provide all necessary yoga equipment for our students including yoga mats and props at no additional cost.  All of our teachers are registered 200 hour or 500 hour yoga teachers with The Yoga Alliance.
                                    A typical yoga class at our boutique studio will offer yoga postures to increase flexibility, balance, and strength, as well as time for reflection and relaxation. </p>
                        </div>
                        </div>
                </div>
                <div class="box wow bounceInUp" data-wow-delay="0.4s">
                        <div class="inner">
                            <div class="img">
                                    <img src="static/images/b3.jpg" alt="about" />
                            </div>
                            <div class="text">
                                <h4>WHY THE YOGA AND WELLNESS EDUCATION CENTRE?</h4>
                                <p>We're dedicated to making yoga accessible and safe for all of our students. We teach Hatha yoga with appropriate modifications depending on each individual's needs and goals. 
                                    We offer a serene studio environment and provide all necessary yoga equipment for our students including yoga mats and props at no additional cost.  All of our teachers are registered 200 hour or 500 hour yoga teachers with The Yoga Alliance.
                                    A typical yoga class at our boutique studio will offer yoga postures to increase flexibility, balance, and strength, as well as time for reflection and relaxation. </p>
                        </div>
                        </div>
                </div>
        </div>
    </div>



{% endblock body %}
