{% extends 'base.html' %} 
{% block title %} Asanas {% endblock title%}
{% block body %}

<h1>Some Asanas</h1>

    <div class="container">
        <div class="content">
                <div class="box wow bounceInUp">
                        <div class="inner">
                            <div class="img">
                                    <img src="static/images/c1.jpg" alt="about" />
                            </div>
                <div class="text">
                        <h4><br>HATH YOGA</h4>
                        <p><strong>Haṭha yoga</strong> is a branch of yoga which uses physical techniques to preserve and channel the vital force or energy. </p>
                        <p>The Sanskrit word haṭha literally means "force" thus alluding to a system of physical techniques</p>
                </div>
                        </div>
                </div>
                    <div class="box wow bounceInUp" data-wow-delay="0.2s">
                        <div class="inner">
                            <div class="img">
                                    <img src="static/images/c2.jpg" alt="about" />
                            </div>
                            <div class="text">
                                <h4><br>BIKRAM YOGA</h4>
                                <p><strong>Bikram yoga</strong> is a cult-favorite style of hatha yoga that counts many celebrities as fans — but it's one of those workouts that you may want to research before heading off to a class. </p>
                                        <p>For one thing, don't expect your instructor to demonstrate the moves.</p>
                        </div>
                        </div>
                </div>
                <div class="box wow bounceInUp" data-wow-delay="0.4s">
                        <div class="inner">
                            <div class="img">
                                    <img src="static/images/c3.jpg" alt="about" />
                            </div>
                            <div class="text">
                                <h4><br>ASHTANGA YOGA</h4>
                                <p><strong>Ashtanga yoga</strong> is a cult-favorite style of hatha yoga that counts many celebrities as fans — but it's one of those workouts that you may want to research before heading off to a class.</p>
                                        <p> For one thing, don't expect your instructor to demonstrate the moves.</p>
                        </div>
                        </div>
                </div>
                <div class="box wow bounceInUp">
                    <div class="inner">
                        <div class="img">
                                <img src="static/images/c4.jpg" alt="about" />
                        </div>
                    <div class="text">
                    <h4><br>VINYASA YOGA</h4>
                    <p><strong>Vinyasa yoga</strong> also called "flow" because of the smooth way the poses run together, is one of the most popular contemporary styles of yoga.</p>
                        <p> It's a broad classification that encompasses many different types of yoga, including Ashtanga and power yoga</p>
                    </div>
                    </div>
                </div>
                <div class="box wow bounceInUp">
                    <div class="inner">
                        <div class="img">
                                <img src="static/images/c5.jpg" alt="about" />
                        </div>
                    <div class="text">
                    <h4><br>POWER YOGA</h4>
                    <p><strong>Power yoga</strong> is a general term used to describe a vigorous, fitness-based approach to vinyasa-style yoga.</p>
                        <p>Though many consider power yoga to be superficial "gym yoga," this style of yoga practice was originally closely modeled on the Ashtanga method</p>
                    </div>
                    </div>
                </div>
        </div>
    </div>



{% endblock body %}
